ALTER TABLE configuracion_wa 
ADD COLUMN IF NOT EXISTS bienvenida BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS recibos BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS recordatorios BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS notificar_comprobante BOOLEAN DEFAULT false;
ALTER TABLE configuracion_wa ADD COLUMN IF NOT EXISTS ciudad_emision TEXT, ADD COLUMN IF NOT EXISTS telefono_emision TEXT, ADD COLUMN IF NOT EXISTS firma_director TEXT;
