@import "tailwindcss";

body {
  background-color: #f8fafc;
  color: #1e293b;
}

/* Custom Scrollbar Gibbor */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 153, 0, 0.5);
}

/* Soporte para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 153, 0, 0.3) transparent;
}

/* Scroll general de la página */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  border: 2px solid #f1f5f9;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}